@using InSitu.Resources.Menu
@using InSitu.Resources.Table
@using Microsoft.OData.UriParser
@model InSitu.Web.Models.BrandViewModel

@{
    ViewBag.Title = MenuResource.Brands;
}

<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h5 class="text-blue">@MenuResource.Brands</h5>
        </div>
    </div>
    <div class="row">
        <table class="data-table stripe hover nowrap" id="brands">
            <thead>
                <tr>
                    <th>Cod</th>
                    <th>Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $("#brands").DataTable({
                "sAjaxSource": "@Url.OdataUrl("ODataRoute", new DynamicPathSegment("Brands"))",
                "iODataVersion": 4,
                "aoColumns": [
                    { mData: "Id" },
                    { mData: "Name" }
                ],
                "language": {
                    "url": "@Url.Content("~/Scripts/translations/spanish.json")"
                },
                "processing": true,
                "columnDefs": [
                    { "width": "10%", "targets": 0 }
                ],
                "fnServerData": fnServerOData,
                "bServerSide": true,
                "bUseODataViaJSONP": false
            });
        });
    </script>
}